/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul, ol {
    padding-left: 18px;
    list-style: none;
}

/* 
    GENERAL
*/
body {
    background-color: lightgrey;
}

.container {
    width: 75%;
    margin: 0 auto;
}

/* 
    HEADER
*/
header {
    background-color: white;
    padding: 5px 10px;
    margin-bottom: 50px;
}

header h1, header img {
    vertical-align: middle;
}

h1 {
    display: inline-block;
}

/* 
    MAIN
*/
#list-container {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.check {
    border-radius: 50%;
    border: 1px solid grey;
    color: grey;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.done {
    border-color: green;
    color: green;
}

.not-done {
    border-color: red;
    color: red;
}

section {
    width: 75%;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.tiny-box {
    vertical-align: center;
    border-radius: 7px;
    margin: 2px 20px;
    display: inline-block;
}

.tiny-box-text {
    vertical-align: center;
    padding: 2px;
    background-color: cyan;
    color: white;
}

.Add-Section {
    vertical-align: center;
    margin: 2px 20px grey;
    display: inline-block;
}

.Editorial1 {
    background-color: aqua;
    padding: 2px;
    vertical-align: center;
    color: white;
}

.Sales {
    background-color: yellowgreen;
    color: white;
    padding: 2px;
    vertical-align: center;
}

.Website {
        background-color: violet;
        padding: 2px;
        vertical-align: center;
        color: white;
}

.Mobile {
    background-color: orange;
    padding: 2px;
    vertical-align: center;
    color: white;
}

.Recruting {
    background-color: green;
    padding: 2px;
    vertical-align: center;
    color: white;
}

.Q1 {
    background-color: purple;
    padding: 2px;
    vertical-align: center;
    color: white;
}